# Configuration file

####################
# block
####################

block {
    I:BluePrintPrinter=3951
    I:BlueprintProjector=3955
    I:ChemicalStorage=3952
    I:Decomposer=3957
    I:FusionChamber=3953
    I:GhostBlock=3954
    I:LeadedChest=1183
    I:Microscope=3958
    I:Synthesis=3956
    I:UraniumOre=4094
}


####################
# general
####################

general {
    B:DebugMode=false
    I:UpdateRadius=20
    B:WorldGenOre=false
}


####################
# item
####################

item {
    I:AtomicManipulator=4739
    I:Blueprint=4741
    I:ChemistJournal=4743
    I:Element=4736
    I:FusionStar=4740
    I:Lens=4738
    I:Molecule=4737
    I:Polytool=4749
}


