# Configuration file

####################
# block
####################

block {
    I:accelerator=3783
    I:armbot=1254
    I:battery=1228
    I:breaker=1225
    I:castingMold=1210
    I:centrifuge=3771
    I:chemicalExtractor=3774
    I:controlRod=3776
    I:conveyorBelt=1217
    I:crate=1204
    I:detector=1219
    I:dust=1201
    I:electricTurbine=3770
    I:electromagnet=3779
    I:electromagnetGlass=3781
    I:engineeringTable=1203
    I:filter=1213
    I:firebox=1207
    I:fulmination=3784
    I:funnel=3782
    I:grate=1212
    I:grindingWheel=1222
    I:gutter=1211
    I:hotPlate=1208
    I:imprinter=1205
    I:industrialStone=1199
    I:machineMaterial=1200
    I:manipulator=1218
    I:mechanicalPiston=1224
    I:millstone=1209
    I:mixer=1223
    I:mixture_aluminium=1248
    I:mixture_aluminum=1245
    I:mixture_ardite=1250
    I:mixture_cobalt=1251
    I:mixture_copper=1239
    I:mixture_gold=1247
    I:mixture_iron=1237
    I:mixture_lead=1233
    I:mixture_nickel=1235
    I:mixture_silver=1241
    I:mixture_tin=1243
    I:molten_aluminium=1249
    I:molten_aluminum=1244
    I:molten_ardite=1252
    I:molten_cobalt=1253
    I:molten_copper=1238
    I:molten_gold=1246
    I:molten_iron=1236
    I:molten_lead=1232
    I:molten_nickel=1234
    I:molten_silver=1240
    I:molten_tin=1242
    I:motor=1230
    I:nuclearBoiler=3773
    I:placer=1226
    I:plasma=3778
    I:plasmaHeater=3775
    I:pump=1221
    I:quantumAssembler=3785
    I:radioactive=3768
    I:reactorCell=3772
    I:reactorDrain=3787
    I:refinedDust=1202
    I:siren=3780
    I:solarPanel=1229
    I:sorter=1220
    I:tank=1214
    I:tesla=1227
    I:thermometer=3777
    I:thermopile=1231
    I:toxicWaste=3786
    I:turntable=1206
    I:uraniumOre=3769
    I:waterTurbine=1216
    I:windTurbine=1215
}


####################
# enabled_list
####################

enabled_list {
    B:Enabled_bakingTrayWithBread=true
    B:Enabled_biomass=true
    B:Enabled_charger=true
    B:Enabled_devStaff=true
    B:Enabled_flour=true
    B:Enabled_gear=true
    B:Enabled_gearShaft=true
    B:Enabled_hammer=true
    B:Enabled_handCrank=true
    B:Enabled_imprint=true
    B:Enabled_levitator=true
    B:Enabled_multimeter=true
    B:Enabled_pipe=true
    B:Enabled_quantumGlyph=true
    B:Enabled_railing=true
    B:Enabled_transformer=true
    B:Enabled_uranium=true
    B:Enabled_wire=true
}


####################
# general
####################

general {
    B:"Auto Disable Uranium If Exist"=false
    I:BlockIDPrefix=1200
    B:"Engineering Table Autocraft"=true
    I:ItemIDPrefix=20150
    D:"Levitator Acceleration"=0.02
    I:"Levitator Max Reach"=40
    D:"Levitator Max Speed"=0.2
    I:"Levitator Push Delay"=5
    I:"Max EM Contractor Path"=200
    B:"Shiny silver Wires"=true
    B:"Tesla Sound FXs"=true
    B:allowAlternateRecipes=true
    B:allowIC2UraniumCompression=true
    B:allowOreDictCompatibility=true
    B:allowOreDictionaryCompatibility=true
    B:allowRadioactiveOres=true
    B:allowToxicWaste=true
    B:allowTurbineStacking=true
    D:darkMatterSpawnChance=0.2
    I:deutermiumPerTritium=4
    D:fissionBoilVolumeMultiplier=1.0
    D:fulminationOutputMultiplier=1.0
    D:grateDrainSpeedMultiplier=0.01
    D:grateEffectMultiplier=5.0
    I:mechanicalPistonBreakCount=5
    I:mechanicalPistonMultiplier=2
    I:plasmaHeatAmount=100
    I:plasmaMaxTemperature=1000000
    I:quantumAssemblerGenerateMode=1
    I:quantumAssemblerRecipes <
     >
    D:steamMultiplier=1.0
    D:turbineOutputMultiplier=1.0
    I:uraniumHexaflourideRatio=200
    I:waterPerDeutermium=4
}


####################
# item
####################

item {
    I:HazmatBody=13769
    I:HazmatBoots=13771
    I:HazmatBottom=13770
    I:HazmatTop=13768
    I:"Toxic Waste Bucket"=13782
    I:antimatter=13778
    I:bakingTrayWithBread=20427
    I:biomass=13783
    I:bucketMixture=20153
    I:bucketMolten=20154
    I:cellDeuterium=13774
    I:cellEmpty=13772
    I:cellTritium=13775
    I:cellWater=13776
    I:charger=20164
    I:darkMatter=13777
    I:devStaff=20425
    I:flour=20426
    I:gear=20158
    I:gearShaft=20159
    I:hammer=20157
    I:handCrank=20155
    I:imprint=20156
    I:insulation=20166
    I:laserDrill=20167
    I:levitator=20165
    I:multimeter=20162
    I:oreDust=20151
    I:oreRefinedDust=20152
    I:oreRubble=20150
    I:pipe=20160
    I:quantumGlyph=31743
    I:railing=20168
    I:rodBreederFuel=13779
    I:rodFissileFuel=13773
    I:transformer=20163
    I:uranium=13781
    I:wire=20161
    I:yellowcake=13780
}


####################
# item_railings
####################

item_railings {
    I:MAX_TICKS_IN_RAILING=5
}


####################
# ore_generation
####################

ore_generation {
    B:"Generate Uranium Ore"=true
}


####################
# power
####################

power {
    I:Solor_Panel=70
    I:Water_tubine_Ratio=5
    I:Wind_tubine_Ratio=5
}


####################
# resource_generator
####################

resource_generator {
    B:"Enable Aluminium"=true
    B:"Enable AluminiumBrass"=true
    B:"Enable Aluminum"=true
    B:"Enable AluminumBrass"=true
    B:"Enable Alumite"=true
    B:"Enable Ardite"=true
    B:"Enable Bronze"=true
    B:"Enable Cobalt"=true
    B:"Enable Copper"=true
    B:"Enable Desh"=true
    B:"Enable Electrum"=true
    B:"Enable Enderium"=true
    B:"Enable Gold"=true
    B:"Enable Invar"=true
    B:"Enable Iron"=true
    B:"Enable Lead"=true
    B:"Enable Manyullyn"=true
    B:"Enable Meat"=true
    B:"Enable MeatRaw"=true
    B:"Enable MeteoricIron"=true
    B:"Enable Nickel"=true
    B:"Enable Obsidian"=true
    B:"Enable PigIron"=true
    B:"Enable Platinum"=true
    B:"Enable RefinedIron"=true
    B:"Enable Silver"=true
    B:"Enable Steel"=true
    B:"Enable Tin"=true
    B:"Enable Unstable"=true
    B:"Enable Uranium"=true
    B:Enable_All=true
    B:Enabled_All_Fluids=true
}


